{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="field">
            <label for="inputUsername" class="label">Utilisateur</label>
            <div class="control">
                <input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="input" placeholder="Utilisateur" required autofocus />
            </div>
        </div>
        <div class="field">
            <label for="inputPassword" class="label">Mot de passe</label>
            <div class="control">
                <input type="password" name="_password" id="inputPassword" class="input" placeholder="Mot de passe" required />
            </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me" /> Se souvenir de moi (utilise un <em>cookie</em>)
                </label>
            </div>
        #}

        <button class="button is-primary" type="submit">
            Se connecter
        </button>
    </form>
{% endblock %}
