{% extends "base.html.twig" %}

{% block title %}Contact{% endblock %}
{% block content %}
    <table class="table is-striped is-fullwidth">
        <thead>
            <tr>
                <th class="has-text-centered">Réf.</th>
                <th>Objet</th>
                <th>Expéditeur</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
                <tr class="table-secondary">
                    <td class="has-text-centered">#{{ message.id }}</td>
                    <td>{{ message.subject }}</td>
                    <td>{{ message.identity }}{% if message.email is not null and message.email is not empty %} &lt;{{ message.email }}&gt;{% endif %}</td>
                    <td>{{ message.creationDate|format_datetime('full') }}</td>
                </tr>
                <tr>
                    <td colspan="4">{{ message.message|markdown_to_html|sanitize_html }}</td>
                </tr>
            {% else %}
                <tr><td class="has-text-centered" colspan="6"><em>Pas de messages de contact en attente</em></td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}