@charset "utf-8";

@import 'base';

@font-face
{
  font-family: "Nunito";
  src: url('../fonts/Nunito/Nunito-Regular.ttf') format('truetype');
  font-display: swap;
}

@import '~@fortawesome/fontawesome-free/css/all.css';

@import "~bulma/sass/utilities/initial-variables";

$primary: #3f51b5;
$secondary: #002984;
$link: $primary;
$family-sans-serif: "Nunito", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

@import "~bulma/bulma";

@import "~@creativebulma/bulma-tooltip/dist/bulma-tooltip.min.css";

body {
  flex-direction: column;
  min-height: 100vh
}

#english-button {
  position: absolute;
  right: 16px;
  top: 16px
}

#avatar {
  width: 200px;
  border-radius: 50%;
  /*border: 0 solid #3f51b5*/
}

.big-button {
  border-width: 2px
}

#skill-columns {
  border-width: 1px;
  border-top-width: 0;
  border-style: solid;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px
}

.project-card {
  height: 100%;
  flex-direction: column
}

.mt-auto {
  margin-top: auto
}

.medium-logo {
  max-width: 150px
}

.big-logo {
  max-width: 200px
}

#contact-form {
  border-radius: 4px
}

#footer {
  background-color: #424242
}

.w-50-100 {
  width: 50%
}