@charset "UTF-8";

html {
  scroll-behavior: smooth;
}

.has-borders-primary {
  border-color: #3f51b5;
}

// Articles
.float-right {
  float: right;
  padding-left: 1rem;
}
.float-left {
  float: left;
  padding-right: 1rem;
}

.other-projects {
  padding-top: 2rem;
}

#skills h4 {
  padding-top: 1rem;
}

#skills .column.section:not(:first-child) {
  border-width: 0;
  border-top-width: 1px;
  border-style: solid
}

@media (min-width: 769px) {
  #skills .column.section:not(:first-child) {
    border-width: 0;
  }
  #skills .column.section:not(:last-child) {
    border-width: 0;
    border-right-width: 1px;
    border-style: solid
  }
}

.honeypot {
  visibility: hidden; // display: hidden not working
  width: 0;
  height: 0!important;
  min-height: 0!important;
  max-height: 0!important;
  padding: 0!important;
  margin: 0;
  border: 0!important;
}

#footer a {
  color: #757de8;
}
#footer a:hover {
  color: #a9acff;
}