{#
   This is a template fragment designed to be included in other templates
   See https://symfony.com/doc/current/book/templating.html#including-other-templates

   A common practice to better distinguish between templates and fragments is to
   prefix fragments with an underscore. That's why this template is called
   '_flash_messages.html.twig' instead of 'flash_messages.html.twig'
#}

<div class="messages">
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="notification is-light is-{{ type }}">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}
</div>
