{% if app.user is not null and is_granted('ROLE_SUPER_ADMIN') %}
    {% set pending_contact_messages_count = get_pending_contact_messages_count() %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{% endblock %}</title>

        <meta name="description" content="{{ website_description }}" />

        <link rel="preload" as="font" href="{{ asset('build/fonts/Nunito-Regular.ttf') }}" type="font/ttf" crossorigin />
        <link rel="icon" type="image/png" href="{{ asset('/img/favicon.32x32.png') }}" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    {% block body %}
        <body class="is-flex">
            {% block main %}
                <main role="main">
                    {% block navbar %}
                        <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
                            <div class="navbar-brand">
                                <a class="navbar-item" href="{% if app.request.attributes.get('_route') == 'article_view_tuto' or app.request.attributes.get('_route') == 'article_view_site' %}{{ path('articles') }}{% else %}{{ path('homepage') }}{% if app.request.attributes.get('_route') == 'project_view' %}#projects{% endif %}{% endif %}">
                                    <span class="icon"><i class="fas fa-arrow-left"></i></span>
                                    {% if app.request.attributes.get('_route') == 'project_view' %}
                                        <span>Revenir aux projets</span>
                                    {% elseif app.request.attributes.get('_route') == 'article_view_tuto' or (app.request.attributes.get('_route') == 'article_view_site' and app.request.attributes.get('name') != 'mentions-legales') %}
                                        <span>Revenir à la liste d’articles</span>
                                    {% else %}
                                        <span>Accueil</span>
                                    {% endif %}
                                </a>

                                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                                    <span aria-hidden="true"></span>
                                    <span aria-hidden="true"></span>
                                    <span aria-hidden="true"></span>
                                </a>
                            </div>

                            <div id="navbarBasicExample" class="navbar-menu">
                                <div class="navbar-end">
                                    <a class="navbar-item" href="{{ path('articles') }}">
                                        Anciens articles
                                    </a>

                                    {% if app.user is not null %}
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <a class="navbar-item" href="{{ path('admin_contact') }}">
                                                Messages{% if pending_contact_messages_count > 0 %} ({{ pending_contact_messages_count }}){% endif %}
                                            </a>
                                        {% endif %}
                                        <a class="navbar-item" href="{{ path('app_logout') }}">
                                            Déconnexion
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </nav>
                    {% endblock %}

                    <div id="content" class="section">
                        <div class="container">
                            {% block header %}
                                {% if block('title') is defined %}<h1 class="title">{{ block('title') }}</h1>{% endif %}
                            {% endblock %}

                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </main>
            {% endblock main %}

            {% block footer %}
                <section id="footer" class="section has-background-secondary has-text-white">
                    <div class="container">
                        <p>Site web réalisé par mes soins à l’aide de Symfony et Bulma, et <a href="https://gitlab.com/papjul/amenysta">disponible sous licence AGPLv3+ sur GitLab</a>.</p>
                        <p><a href="{{ path('article_view_site', {'type': 'site', 'name': 'mentions-legales'}) }}">Mentions légales</a></p>
                    </div>
                </section>
            {% endblock %}

            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}

            {# it's not mandatory to set the timezone in format_date(). This is done to
               avoid errors when the 'intl' PHP extension is not available and the application
               is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
            <!-- Page rendered on {{ 'now'|format_datetime('long', 'long', '', 'UTC') }} -->
        </body>
    {% endblock %}
</html>
