{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
    {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="row">
            <div class="col-lg-4">
                {{ form_row(form.identity) }}
            </div>

            <div class="col-lg-4">
                {{ form_row(form.email) }}
            </div>

            <div class="col-lg-4">
                {{ form_row(form.subject) }}
            </div>
        </div>

        {{ form_row(form.message) }}
        {{ form_widget(form.content) }} {# Honeypot #}

        <div class="notification is-info">En soumettant ce formulaire, vous acceptez que les données à caractère personnel que vous fournissez dans les champs ci-dessus soient conservées jusqu’à la fin de son traitement.</div>

        <p class="has-text-centered"><input type="submit" class="btn btn-info" value="Accepter et envoyer" /></p>
    {{ form_end(form) }}
{% endblock %} 
