{% extends 'base.html.twig' %}

{% block title %}Erreur 403 — Accès refusé{% endblock %}
{% block content %}
    <p>Accès refusé. Si vous pensez que c’est une erreur, vérifiez que vous êtes connecté ou retournez <a href="{{ path('homepage') }}">à la page d’accueil</a>.</p>
{% endblock %}