{% extends "base.html.twig" %}

{% block title %}Erreur {{ status_code }}{% endblock %}
{% block content %}
    <p>Une erreur générique s’est produite. Allez manger quelques cookies le temps que nous réglions ça, ou tentez de retourner <a href="{{ path('homepage') }}">à la page d’accueil</a>.</p>
{% endblock %}